@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                               Reusable Styles                              */
/* -------------------------------------------------------------------------- */
:root {
  --gray: #474d52;
  --white: #ffffff;
  --orange: #f69314;
  --light-gray: ##f8f9fa;
  --dark-gray: #343a40;
 
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--orange);
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-weight: 400;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto; 
  padding: 0 20px;
}

.btn {
  background: #f69314;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}



/* -------------------------------------------------------------------------- */
/*                                 NAVIGATION                                 */
/* -------------------------------------------------------------------------- */

.nav-bar {
  background-color: var(--gray);
  padding-bottom: 2%;
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.1);
  color: var(--white);
}

.nav-logo {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 1.7rem;
  font-weight: 800;
  color: white;
  position: relative;
  top: 40px;
}

/*                     On scroll-down                                */

/* .main-nav li:first-child {
  color: orange;
} 

.nav-bar {
  background-color: white;
}



*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
}

/* .nav-logo {
} */

.main-nav li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

.hero {
  background-size: cover;
  background-color: var(--gray);
  min-height: 600px;
  position: relative;
}

.hero-text {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1140px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero-text {
  width: 400px;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                How it works                                */
/* -------------------------------------------------------------------------- */
.how-it-works {
  background-color: #f8f9fa;
  padding: 3rem 0;
  margin-bottom: 5%;
}


ion-icon {
  color: var(--orange);
  font-size: 35px;
}
.how-it-works h4{
color:#343a40;
margin-top: 1rem;
font-weight: 300;
}

.how-it-works-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


 .how-it-works-title { 
  transform: translateX(40%);
  margin-bottom: 3rem;
  margin-top: 3rem;
 }

.step-container {
  padding-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                Properties                                */
/* -------------------------------------------------------------------------- */
.properties-title { 
  margin-bottom: 3rem;
  margin-top: 3rem;

}

.subheading { 
  margin-bottom: 2rem;
  display: block;
  width: 50%;
}

.properties {
  background-color: var(--white);
  margin-bottom: 5%;

}

.property-container img { 
  height: 600px; 
  width: 337px;
  object-fit: cover;

}

.property-price {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--dark-gray)
}

.property-item { 
  color: #777;
  font-weight: 400;
  font-size: .8rem;
  
}

.address { 
  color: #777;
  font-weight: 400;
  font-size: .8rem;

}

.property-block { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.property-container { 
  flex: 1; 
}

.btn-long { 
  background-color: var(--orange);
  border: none;
  color: var(--white);
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px; 
  cursor: pointer;
  width: 350px;
  display: block;
margin-top: 40px;
transform: translateX(100%);
 
}


/* -------------------------------------------------------------------------- */
/*                                Agents                                */
/* -------------------------------------------------------------------------- */
.agents { 
  border-bottom: 1px solid #ccc;
}


.card-container { 
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 calc(30%-20px);

}

.card > img {
  height: 400px; 
  width: 337px;
  object-fit: cover;

}

.card { 
  margin: 10px;
  background-color: #f0f0f0;
  margin-bottom: 2rem;
  padding-bottom: 2%;

}

.card-content { 
  padding-left: 1rem;
}

.agents-title{
  margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                About Us                                */
/* -------------------------------------------------------------------------- */
.about-us { 
  margin-top: 5%;
} 

.about-us-img {
  height: 600px; 
  width: 450px;
  object-fit: cover;

 }

 .about-us-container {
  width: 40%;
margin-left: 10%;
 }

 .about-us > .container { 
display: flex;
 }

/* -------------------------------------------------------------------------- */
/*                                Services                                */
/* -------------------------------------------------------------------------- */
.services { 
  background-color: #f8f9fa;
  margin-top: 5%;
  padding-bottom: 5%;
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.1);
 

}

.services-title {
padding-top: 3rem;
text-align: center;
}

.services-container { 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px; 


}

.service { 
  display: flex;
  align-items: center;
margin-bottom: 20px;
padding: 15px;
}

.services-card-right { 
  flex-wrap: wrap;
  flex: 1;
  margin-left: 1.5rem;
}

.services-card-right > p {

}

.services-card-right > a { 
  text-decoration: none;
  color: var(--orange);
 padding-top: 3rem;
}

/* -------------------------------------------------------------------------- */
/*                                Testimonials                                */
/* -------------------------------------------------------------------------- */

.testimonials {
margin-bottom: 4rem;
}

#testimonials-slider p {
  font-size: 1rem;
}

.testimonials-caption img {
  height: 5.7rem;
  width: 5.5rem;
  border-radius: 3rem;
  object-fit: cover;

}


.testimonials-title {
  text-align: center;
}

.testimonials-slider blockquote {
  font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 3rem;
    max-width: 740px;
}

.testimonials-slider .testimonials-caption {
width: 200px;
margin: 0 auto;
}

#testimonials-slider .testimonials-caption img {
  float: left;
  border-radius: 30px;
  width: 60px;
}

/* -------------------------------------------------------------------------- */
/*                                Contact Us                                */
/* -------------------------------------------------------------------------- */
.contact-us {
  background: #f8f9fa;
  padding: 4rem 0 8rem;
}

.contact-title { 
  text-align: center;
  margin-bottom: 4rem;
  transform: translateX(50%,-50%);
}

.form-container {
  width: 58%;
  background: #fff;
  padding: 3rem;
  box-sizing: border-box;
  height: 0%;
}

.form-container > h3 {
  color: #000;
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
}

.form-container label { 
  display: block; 
  color: #000;
  margin-top: 1rem;
}

.form-container input, .form-container textarea {
  display: block;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  width: 100%;
  box-sizing: border-box;
  height: 43px;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 1rem;
  color: #495057;
}

.form-container textarea {
  height: 170px;
  margin-bottom: 2rem;
  resize: none; /*prevents user from resizing the box*/
}

